language: python
python:
- 2.7
cache:
- apt
env:
  global:
  - secure: "HLXiuuEZelddoE2ASR6Aqqe6ga9nRzb6MCqv0jPhIbso4TDuEpGObSYJttlGTQVD1CYD/f2mhrgC/We0IWqQI9XpARxfIWO7FG8gAIWzk4krP506/+a4PVy7VN5dpRA0CxBQX4ojh5zUviTMJc6NClTth85GH0IKVZkDVw0H0iVgsfSO6aWDmG8df6GVhUaoysNggmcBrTvcXZ7z8ZzAmy0tYhNwdvn24WXmAiPsE1kbqmNZTGhGLK6T+8kChFvTD/SmmaSuztHrFby9CQRb4BjA21pkOguaORbRVlEZYc/A41tuc2XvmE873B3NDO6AKSIfhZjof2CcIK9Oa6bFFFUeMtdDOKV0ryGjfUNbLOzkFVHsGaDetgRnqPjl+nj2CuROmVC61El+Dtb+WxxSCkCqAiXiXjseSeuPka/k6IXTlTwF3Sv93mbmFtKZZk2hQYS8S6DvoWtBTszZcCgG78QLtEhnrYwEU6r8h9srXBnH82GY8QCjZdiLzw7C3YXp7vWGXmFvIL+RBVOS0npDNythhXRtDp1uCzAS1xu9Ux0lm/F8HH/Gu0kUzn9wvngdiTk9pdVUdlwGxTsuS2zt7fuacFw0KsB/mL2xB4GkT8++q+hfuSekXzybDnvGP6+2xzbShy/g45QmQnaz64RrqGAvoqrmjd7iE6NJOqRO1/w="


  - secure: "OZMIZGWZzajqPoNms5Dz1o8oCsqT/nQVmJYyfUphYP8cLLiXvLK6NEj2BAd5cYC/vYPqyMyCh4f5blANO9Gz5mKjsOLbv2vlXMeclHTts6eRVmSrgnH4vA3f3BfQxzEQ3jqxulFtesQQH11al9JpyTv93SvaKiLJozo9bF8Du+PXjgYjRw1xZQKke+u3Tb2T6o0PBg7cX2UtL9DYaBwFCd05XXj8v3HpwiNo/qNFn5KBJw5q1LVaNoQbqPBPlbFpjqSI9PaoFgixWgEmFpFCJXRsW3in7m9wpoWBsN3xrp/DQxPCHCP75K6mNWQ8xpYy9KCnhzaNB5yOVi55iQNlgZS4jrNOSwRKRv/ilmxg9jnNUu80YpVtBUbpX95gW2ovIYqiOUIbkSmOWOjQJHeSx/Ue/Ne5tK9eOMVk52q7Avf1f9YeKn92z0eGyLzzcdADXK6+VjQz1jqHzNpUOKEkbsvb+IVj3syPDueJRriMYFmUKifM8r/R0oBXadgvGYZJm5CJuxs4AxYdjSg1cZ+T4ubHG7iyGdHe5fzdGS+FfLHXoTxoPR/vGvrUWfXxTxM+HyaF7/0SFCMaAD8DE1/LCSUn1ii4zggtEuBDHZTSH6aNH/31d0dxHCGSus9qk1kZLnFpoEQwrrk5HPRTV7UUwpQiIcliWPSZ7GthVUMMW4Q="

  - secure: "XlcjaetUEjZf8Md+kpO6Bt83mB6qMblOpFscYE6PRn455/mb2SZBsc1KmnrXSNBqBiUT0K6e9ZKY0pMAHM0Te/bRhJkx6Szv2CuXSYJXcQI39Mt64wKfgU+FKY0wrgnHUNutxJZ0Pga8xbwO/tywSX45pdlNaS7K9SP+zBhvSVDnyW349OLyyEcWIbqKlLiyYl9XbKsVFJQPs02khfa2hYy4Azk9xZvIEZekbjD2eQQz/RQ+Y0fwOoYoFvQOYPcX0OM53H1W9wGLakWAQCH37HAjPQaU7VsayGEZScvwVcohpg5uBNeRMYt0beahYgH9Ap8KEEnxxHdhel+kh0ttTmrql2/FULi/JJZiFNQ/DV17XAYHI7g7fCnz8BvDGGY+pCsvZxlZTKFO+ZuDBh0uPGoBSlKyfZu084FL3Uhd+4UfciOqs22SgMfoGuiIZE9Jq6g+2lVERlmwVmuXQJhXJIT8C/PGxWG4/bVQoCP7Spp3dyoyp2rKiHsvmSAmJjH2XVH8EWCmWDqIwiSPddjSETvDfYE2Q8asktnzdhIi0l0YiT4Kott+374Nrc8xOIBldYVNZSH+PWTNOSmN8ygbBMhzvHIZqAkPCiGO22UZXrgFlzj1L0emlda9tw0lmVApN3NcTJ2/foY0cpCZBXn8vji71V832Svr7ZJ/leuwgRA="

branches:
  only:
    - master

install:
  - travis_retry pip install pelican
  - travis_retry pip install beautifulsoup4
script:
  - make clean
  - make DEBUG=1 RELATIVE=1 html
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash travis_deploy.sh; fi

