<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ AUTHOR }}" />
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/theme/css/style.css">
  {% block extra_headers %}{% endblock %}
</head>
<body>
  <main>
    {% block content %}{% endblock %}

    <footer class='card'>
      <div class="wrapper">
        <p>content licensed <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
          <span class='break'>—</span> &copy;2018 {{ AUTHOR }} <span class='break'>—</span>
          unless <a rel="license" href='/copyright.html'>indicated otherwise</a>
        </p>
      </div>
    </footer>

  </main>
</body>
</html>
