/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('/theme/fonts/raleway-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('/theme/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/theme/fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
       url('/theme/fonts/open-sans-v15-latin-regular.woff') format('woff');
}

body {
  background-color: #fff;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}
@media (min-width: 415px) {
  body { font-size:16px; }
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Raleway', serif;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
  line-height: 1.05;
}
h2 {
  font-size: 36px;
  line-height: 1.14;
}
h3 {
  font-size: 30px;
  line-height: 1.38;
}
@media (min-width: 641px) { /* TODO: min-height, not width */
  h1, h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
}
small {
  font-size: 10px;
  line-height: 1.2;
}
p {
  margin: 0 0 20px 0;
}

/*
 *  Layout
 */
.card {
  margin: 1em;
  max-width: 1440px; /* TODO */
}
section.card {
  height: 600px;
  overflow: hidden;
  position: relative;
}
section.card .wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1180px; /* TODO */
  margin: 0 1.5em;
  position: relative;
}
footer.card {
  margin-top: -0.5em;
}
@media (min-width: 768px){
  .card { margin: 1.7em; }
  footer.card { margin-top: -0.85em; }
}

/*
 *  Modules
 */
.card {
  background-color: #efefef;
  text-align: center;
  z-index: 0;
}
.card .blurb p {
  margin-bottom: 1em;
}
.card .img-wrap {
  display: none;
  line-height: 0;
}
.card .img-wrap img {
  opacity: .95;
  width: 100%;
}
@media (min-width: 1024px) {
  .card .blurb p { margin-bottom: 1.5em; }
  .card .img-wrap { display: unset; }
}

/* Card letter backgrounds */
section.card .wrapper::after {
  font-family: monospace;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  font-size: 826px;
  height: 215%;
  left: -0.03em;
}
#landing { background-color: #ff9e0d; }
#landing .wrapper::after { content: "B"; color: #f59403; }
#about .wrapper::after   { content: "R"; color: #e5e5e5; }

/* Landing */
@media (min-width: 640px) {
  #landing .blurb {
    text-align: right;
    width: 75%;
  }
  #landing .date { margin-right: 0.3em; }
}
@media (min-width: 1024px) {
  #landing .blurb {
    width: 45%;
  }
  #landing .img-wrap {
    align-self: flex-end;
    width: 55%;
  }
}
#landing h1 { margin-bottom: 0; }

/* About */
#about .wrapper { justify-content: flex-end; }
@media (min-width: 640px) {
  #about .blurb {
    text-align: right;
    width: 75%;
  }
}
@media (min-width: 1024px) {
  #about .blurb { width: 55%; }
  #about .img-wrap { width: 45%; }
  #about .img-wrap img { width: 85%; }
}

#about .blurb h2::before{
  background-color: #111;
  bottom: 0.3em;
  content: "";
  display: none;
  height: 1px;
  position: relative;
  margin-right: 0.5em;
  width: 1.5em;
}
@media (min-width: 640px) {
  #about .blurb h2::before { display: inline-block; }
}

/* Navigation */
nav {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  text-align: right;
}
nav li a {
  padding: 0.2em 0.5em;
  color: #111;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Footer */
footer.card {
  text-align: center;
}

/*
 *  State
 */

/*
 *  Page Specific
 */
