/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('/theme/fonts/raleway-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('/theme/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
       url('/theme/fonts/quicksand-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/quicksand-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/theme/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/open-sans-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #111;
}
@media (max-width: 415px){
    body{
        font-size:14px
    }
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Raleway', serif;
  font-weight: 100;
  letter-spacing: 2px;
}
h1 {
  font-size: 30px;
  line-height: 1.05;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
  line-height: 1.14;
  margin-bottom: 20px;
}
h3 {
  font-size: 26px;
  line-height: 1.38;
}
@media (min-width: 641px) { /* TODO: min-height, not width */
  h1, h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
}
small {
  font-size: 10px;
  line-height: 1.2;
}
p {
  margin: 0 0 20px 0;
}

/*
 *  Layout
 */
.card {
  margin: 15px auto;
  max-width: 95%;
  width: 1440px; /* TODO */
}
@media (min-width: 768px){
  .card { margin: 30px auto; }
}
section.card {
  height: 600px;
  overflow: hidden;
  position: relative; /* can remove when nav is fixed */
}
footer.card {
  margin: -15px auto 15px auto;
  text-align: center;
}
section.card .wrapper {
  position: relative;
  display: flex;
  width: 1180px;
  max-width: 95%;
  height: 100%;
  margin: 0 auto;
  align-items: center
}

/*
 *  Modules
 */
.card {
  background-color: #efefef;
}

section.card {
  opacity: 0.99;
}
section.card .wrapper::after {
  font-family: monospace;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  font-size: 826px;
  height: 215%;
  left: -10%;
}
#landing { background-color: #ff9e0d; }
#landing .wrapper:after { content: "B"; color: #f59403; }
#about .wrapper:after   { content: "R"; color: #e5e5e5; }
#signup .wrapper:after  { content: "A"; color: #e5e5e5; }

.nav{
    margin:0;
    padding:0;
    list-style:none;
}
.nav li{
    display: inline-block;
    text-align: right;
}
.nav li a{
    padding:5px 0;
    color:#111;
    font-size:12px;
    font-family:"Raleway",Helvetica,sans-serif;
    text-transform:uppercase;
    text-decoration:none;
}

#landing .blurb {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 640px) {
  #landing .blurb { text-align: right; }
}
@media (min-width: 1024px) {
  #landing .blurb {
    width: 45%;
    align-items: flex-end;
  }
}

#landing .blurb p {
  margin-bottom: 1em;
  max-width: 450px;
}
@media (min-width: 1181px) {
  #landing .blurb p { margin-bottom: 1.5em; }
}

#landing .photographer {
  align-self: flex-end;
  display: none;
  line-height: 0;
  width: 55%;
}
#landing .photographer img {
  width: 100%;
  opacity: .95;
}
@media (min-width: 1024px) {
  #landing .photographer { display: unset; }
}

#landing header { /* TODO: cleanup with nav */
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    width:95%;
    height:80px;
    align-items:center;
    justify-content:flex-end;
}



#about .wrapper .camera{
    width:45%
}
#about .wrapper .camera img{
    width:85%
}
#about .wrapper .blurb{
    width:55%
}
#about .wrapper .blurb h2:before{
    content:"";
    position:relative;
    bottom:15px;
    display:inline-block;
    width:70px;
    height:1px;
    margin-right:30px;
    background-color:#111
}
#about .wrapper .blurb p{
    max-width:600px;
    margin-bottom:45px
}
@media (max-width: 1023px){
    #about .wrapper .camera{
        display:none
    }
    #about .wrapper .blurb{
        display:flex;
        width:100%;
        flex-direction:column;
        align-items:flex-end;
        text-align:right
    }
    #about .wrapper .blurb h2:before{
        display:none
    }
}
@media (max-width: 640px){
    #about .wrapper .blurb{
        align-items:center;
        text-align:center
    }
}
@media (max-width: 768px){
    #contact{
        margin:15px auto
    }
}
#contact .wrapper{
    flex-direction:column;
    justify-content:center
}
#contact .wrapper .blurb{
    max-width:950px;
    margin-top:-45px;
    text-align:center
}
#contact .wrapper .blurb h2{
    margin-top:0;
    margin-bottom:30px;
    font-size:42px;
    font-family:"Raleway",Helvetica,sans-serif;
    font-weight:100
}
@media (max-width: 640px){
    #contact .wrapper .blurb h2{
        margin-bottom:20px;
        font-size:30px
    }
}
#contact .wrapper .blurb p{
    margin-bottom:45px
}
#contact .wrapper form{
    position:relative;
    display:flex;
    max-width:600px;
    flex-wrap:wrap;
    justify-content:space-between;
    color:#111;
    font-family:"Raleway",Helvetica,sans-serif
}
#contact .wrapper form input[type="email"],#contact .wrapper form input[type="text"]{
    width:42%;
    height:40px;
    padding:0 15px;
    border:1px solid #111;
    border-radius:0;
    background:transparent
}
#contact .wrapper form input[type="email"]::placeholder,#contact .wrapper form input[type="text"]::placeholder{
    color:#111
}
#contact .wrapper form input[type="email"]:focus,#contact .wrapper form input[type="text"]:focus{
    outline:none
}
#contact .wrapper form textarea{
    width:100%;
    height:90px;
    margin:30px 0;
    padding:10px 15px;
    border:1px solid #111;
    border-radius:0;
    background:transparent;
    resize:none
}
#contact .wrapper form textarea::placeholder{
    color:#111
}
#contact .wrapper form textarea:focus{
    outline:none
}
#contact .wrapper form input[type="submit"]{
    width:100%;
    height:40px;
    color:#fff;
    font-weight:700;
    text-transform:uppercase;
    border:none;
    border-radius:0;
    background-color:#111
}
@media (max-width: 640px){
    #contact .wrapper form input[type="email"],#contact .wrapper form input[type="text"]{
        width:100%;
        margin-bottom:10px
    }
    #contact .wrapper form textarea{
        margin:0 0 10px 0
    }
}

/*
 *  State
 */

/*
 *  Page Specific
 */
