/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('/theme/fonts/raleway-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('/theme/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/theme/fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
       url('/theme/fonts/open-sans-v15-latin-regular.woff') format('woff');
}

body {
  background-color: #fff;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}
@media (min-width: 425px) {
  body { font-size: 16px; }
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Raleway', serif;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
  line-height: 1.05;
}
h2 {
  font-size: 36px;
  line-height: 1.14;
}
h3 {
  font-size: 30px;
  line-height: 1.38;
}
@media (min-width: 640px) { /* TODO: min-height, not width */
  h1, h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

/*
 *  Layout
 */
.card {
  margin: 1em;
  max-width: 1440px;
}
section.card {
  display: flex;
  height: 600px;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}
footer.card {
  margin-top: -0.5em;
}
.card .wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1180px;
  margin: 0 1.5em;
}
@media (min-width: 768px){
  .card { margin: 1.7em; }
  footer.card { margin-top: -0.85em; }
}
@media (min-width: 1500px) {
  .card { margin: 1.7em auto; }
}

/*
 *  Modules
 */
.card {
  background-color: #efefef;
  text-align: center;
  z-index: 0;
}
.card .blurb h2::before, .card .blurb h2::after {
  background-color: #111;
  bottom: 0.3em;
  content: "";
  display: none;
  height: 1px;
  position: relative;
  margin: 0 0.5em;
  width: 1.5em;
}
.card .img-wrap {
  display: none;
  line-height: 0;
}
.card .img-wrap img {
  opacity: .95;
  width: 100%;
}
@media (min-width: 1024px) {
  .card p { margin: 1.5em; }
  .card .img-wrap { display: unset; }
}

/* Card letter backgrounds */
section.card .wrapper::after {
  font-family: monospace;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  font-size: 826px;
  height: 215%;
  left: 0;
}
#landing { background-color: #ff9e0d; }
#landing .wrapper::after { content: "B"; color: #f99508; }
#about .wrapper::after   { content: "R"; color: #e9e9e9; }
#three { background-image: url('/theme/img/collab.jpg'); background-position: center; }
#three .wrapper::after   { content: "A"; color: #bbbbbb; opacity: 0.2; }
#four .wrapper::after    { content: "I"; color: #e9e9e9; }
#five .wrapper::after    { content: "N"; color: #e9e9e9; }

/* Landing */
@media (min-width: 640px) {
  #landing .blurb {
    text-align: right;
    width: 75%;
  }
  #landing .date { margin-right: 0.3em; }
}
@media (min-width: 1024px) {
  #landing .blurb {
    width: 45%;
  }
  #landing .img-wrap {
    align-self: flex-end;
    width: 55%;
  }
}
#landing h1 { margin-bottom: 0; }

/* About */
#about .wrapper { justify-content: flex-end; }
@media (min-width: 640px) {
  #about .blurb {
    text-align: right;
    width: 75%;
  }
  #about .blurb h2::before { display: inline-block; }
}
@media (min-width: 1024px) {
  #about .blurb { width: 65%; }
}

/* Four */
@media (min-width: 640px) {
  #four .wrapper { justify-content: center; }
  #four .blurb { width: 75%; }
}
@media (min-width: 1024px) {
  #four .blurb { width: 65%; }
}
#four .blurb ul {
  list-style-position: inside;
  padding: 0;
}

/* Five */
#five .wrapper { justify-content: flex-end; }
@media (min-width: 640px) {
  #five .blurb {
    text-align: right;
    width: 75%;
  }
}
@media (min-width: 1024px) {
  #five .blurb { width: 55%; }
  #five .img-wrap { width: 45%; }
  #five .img-wrap img { width: 85%; }
}
@media (min-width: 640px) {
  #five .blurb h2::before { display: inline-block; }
}

/* Navigation */
nav {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  z-index: 1;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  text-align: right;
}
nav li a {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  color: #111;
  font-size: 12px;
  padding: 0.2em 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  transition: border-color 0.4s;
}
@media screen and (min-width: 768px) {
  nav li a:hover { border-bottom: 2px solid #222; }
}

/* Footer */
footer.card {
  text-align: center;
}

/*
 *  State
 */
nav li a.active {
  border-bottom: 2px solid #222;
}
@media screen and (min-width: 768px) {
  nav li a.active {
    animation: borderFadeIn 0.4s;
    border-top: 2px solid #222;
  }
}
@keyframes borderFadeIn {
  from { border-top: 3px solid rgba(255,162,0,0.0); }
  to   { border-top: 3px solid rgba(255,162,0,1.0); }
}

/*
 *  Page Specific
 */
