/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('/theme/fonts/raleway-v12-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('/theme/fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/raleway-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/theme/fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
       url('/theme/fonts/open-sans-v15-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'fontello';
  src: url('/theme/fonts/fontello.woff2?76864921') format('woff2'),
       url('/theme/fonts/fontello.woff?76864921') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]::before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-contact::before { content: '\e800'; }
.icon-people::before  { content: '\e803'; }
.icon-link::before    { content: '\f07b'; }
.icon-project::before { content: '\f10c'; }
li[class^="icon-"] { list-style: none; }
li[class^="icon-"]::before { margin-right: 0.5em; }

a {
  /* box-shadow has two main advantages 1) can be used with "transition" and
     2) its size doesn't impact the position of other elements. */
  box-shadow: 0 1px 0 0 #111;
  color: #111;
  text-decoration: none;
  transition: box-shadow 0.4s, color 0.4s;
}
a:hover {
  color: #333;
  box-shadow: 0 2px 0 0 #333;
}

body {
  background-color: #fafafa;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}
@media (min-width: 425px) {
  body { font-size: 16px; }
}

dl dt {
  font-weight: bold;
  padding-top: 0.5em;
}
dl dd { margin: 0; }
dl ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Raleway', serif;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0.5em 0;
}
h1 {
  font-size: 42px;
  line-height: 1.05;
}
h2 {
  font-size: 36px;
  line-height: 1.14;
}
h3 {
  font-size: 30px;
  line-height: 1.38;
}
@media (min-width: 640px) {
  h1 { font-size: 60px; }
  h2 { font-size: 42px; }
  dl dt {
    padding-left: calc(0.5em + 2px);
  }
  dl dd {
    border: 0 solid #ddd;
    border-left-width: 2px;
    padding-left: 0.5em;
  }
}

/*
 *  Layout
 */
main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  main { padding: 0 1.7em; }
}

.card {
  margin-top: 1em;
  padding: 1.5em;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .card.half, .card.tri { flex-basis: calc(50% - 3em - 1px); }
  .card.half.bare, .card.tri.bare { flex-basis: calc(50% - 1px); }
}
@media screen and (min-width: 1024px) {
  .card {
    margin-top: 1.7em;
    padding: 1.5em 3em;
  }
  .card.half, .card.tri { flex-basis: calc(50% - 6em - 1px); }
}
@media screen and (min-width: 1280px) {
  .card.tri { flex-basis: calc(calc(100% / 3) - 6em - 1px); }
  .card.tri.bare { flex-basis: calc(calc(100% / 3) - 1px); }
}

nav.card {
  margin: 0.8em 0;
  padding: 0;
}
header.card {
  margin-top: 0;
  min-height: 300px;
  align-items: center;
  display: flex;
  padding: 1.5em;
}
footer.card {
  margin: 0.5em 0;
  padding: 0;
}
@media (min-width: 640px) {
  header.card .blurb { margin: 0 15% 0 auto; }
}
@media screen and (min-width: 768px) {
  footer.card { margin: 0.85em 0; }
}

.artsy.card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: calc(600px - 3em);
}
.artsy.card .wrapper {
  align-items: center;
  display: flex;
  max-width: 1180px;
  width: 100%;
  justify-content: space-between;
}

/*
 *  Modules
 */
dd .extra { display: none; }
@media (min-width: 768px) {
  dd .extra { display: initial; }
}

.bold { font-weight: bold; }

/* cards */
.card {
  background-color: #efefef;
  overflow: hidden;
  position: relative;
}
.card p, .card ul, .card ol, .card dl { /* to align w/ Raleway's peculiarities */
  margin-left:  0.28em;
  margin-right: 0.28em;
}
.card p:last-child { margin-bottom: 0; }
.card svg { /* TODO: turn into class applied on <svg> */
  position: absolute;
  height: 100%;
  fill: #e9e9e9;
  left: 25px;
}

.card.half:nth-of-type(odd), .card.tri:nth-of-type(odd) { background-color: #eee; }
@media screen and (min-width: 768px) {
  .card.half, .card.tri { background-color: #eee; }
}

.card.bare { padding: 0; }
.card.bare.photo { background-position: center; }
.card.bare.photo svg {
  fill: #bbb;
  opacity: 0.2;
}

/* navigation */
nav.card {
  background: none;
  overflow: unset;
  text-align: right;
}
nav.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav li a {
  box-shadow: none;
  color: #111;
  font-size: 12px;
  padding: 0.2em 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.4s;
}
@media screen and (min-width: 768px) {
  nav li a:hover { box-shadow: 0 2px 0 #333; }
}

/* header */
header.card { background-color: #ff9e0d; }
header.card h1 { margin: 0; }
header.card svg {
  fill: #f99508;
  stroke: #ff9e0d;
}
header.card .blurb {
  position: relative;
  text-align: center;
}
@media (min-width: 640px) {
  header.card .blurb { text-align: right; }
}

/* footer */
footer.card { text-align: center; }
footer.card p {
  font-size: 12px;
  margin: 0;
  padding: 0.5em 1em;
}
footer span.break {
  display: block;
  line-height: 0.5em;
}
@media screen and (min-width: 850px) {
  footer span.break { display: inline; }
}

/* artsy (only on index page for now) */
.artsy { text-align: center; }
.artsy .wrapper { position: relative; }
.artsy.with-art img {
  display: none;
  line-height: 0;
  opacity: .95;
}
@media (min-width: 640px) {
  .artsy { text-align: left; }
  .artsy .blurb {
    max-width: 600px;
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .artsy.with-art .blurb {
    width: 55%;
  }
  .artsy.with-art img {
    display: unset;
    width: calc(45% - 2em);
  }
}

/* .right */
@media (min-width: 640px) {
  .right { text-align: right; }
  .right dl dt {
    padding-right: calc(0.5em + 2px); padding-left: 0;
  }
  .right dl dd {
    border-width: 0 2px 0 0;
    padding: 0 0.5em 0 0;
  }
}
.artsy.right .wrapper { justify-content: flex-end; }
@media (min-width: 1024px) {
  .artsy.with-art.right .wrapper { justify-content: space-between; }
}

/* two-col list */
@media (min-width: 768px) {
  .two-col {
    column-count: 2;
    column-gap: 2em;
  }
  .two-col dt, .two-col dd, .two-col li, .two-col div {
    /* the <div> is used to wrap dt and dd's together, because as of 2018.04,
     * /nobody/ supports "break-after: avoid" --- all while claiming
     * "full support".  Sigh... */
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }
}
@media (min-width: 1024px) {
  .two-col { column-gap: 3em; }
}

/* maps */
.map {
  border: 0;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .map { min-height: 30em; }
}

/* project vs tutorial visual callouts */
span.project, span.tutorial {
  font-family: 'Raleway', serif;
  font-weight: bold;
}
span.project  { color: #ec470e; }
span.tutorial { color: #37ab00; }

/* sponsors lists */
.card .sponsors {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.card .sponsors a {
  box-shadow: none;
  margin-top: 1em;
  flex-basis: calc(calc(100% / 2) - 1em);
}
.card .sponsors img {
  max-height: 80px;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .card .sponsors a {
    flex-basis: calc(calc(100% / 4) - 1em);
    margin-top: 1.5em;
  }
  .card.half .sponsors a { flex-basis: calc(calc(100% / 2) - 1em); }
}

/* landing card */
#landing h1 { font-size: 42px; }
#landing .date { margin-top: 0.1em; }
@media (min-width: 1024px) {
  #landing.with-art .blurb {
    margin: 0;
    width: 45%;
  }
  #landing.with-art img { width: calc(55% - 3em); }
}
#landing a#sign-up {
  box-shadow: 0 3px 0 #333, 0 -3px 0 #333;
  color: #333;
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 0.3em;
  text-transform: uppercase;
  transition: transform .2s linear;
}
/*
Sign-up is closed, so remove the interactive feedback
#landing a#sign-up:hover { transform: scale(1.1); }
*/

/* sponsors card */
#sponsors {
  min-height: unset;
  text-align: left;
}
#sponsors .sponsors { margin-top: -1em; }
@media (min-width: 640px) {
  /* this is a bit ugly, but spacing all logos evenly rather than stacked in
   * columns looks /much/ better with so many varying aspect ratios */
  #sponsors .sponsors a {
    flex-basis: unset;
    max-width: calc(calc(100% / 4) - 1em);
  }
}
@media (min-width: 1024px) {
  #sponsors .sponsors { margin-top: -1.5em; }
}

/* card three */
#three { background-image: url('/theme/img/collab.jpg'); }

/* equipment card */
#equipment .blurb { max-width: initial; }
#equipment .blurb p { max-width: 600px; }
@media (min-width: 640px) {
  #equipment .blurb { margin-left: 6%; }
}
@media (min-width: 1024px) {
  #equipment .blurb { margin-left: 12%; }
}

/* project pitches */
.pitch header { text-align: center; }
.pitch header img {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}
.pitch header h2 {
  font-size: 30px;
  margin: 0;
}
.pitch .info { padding-left: 1.5em; }
.pitch .info li[class^="icon-"]::before { margin-left: -1.5em; }

/* default .rst-generated content */
div.section {
  background: #efefef;
  margin-top: 1em;
  padding: 0.5em 1.5em;
}
@media (min-width: 768px) {
  div.section { margin-top: 1.7em; }
}
@media (min-width: 1024px) {
  div.section { padding: 0.5em 30% 0.5em 15%; }
}

/*
 *  State
 */
nav li a.active { box-shadow: 0 2px 0 #333; }
@media screen and (min-width: 768px) {
  nav li a.active {
    animation: borderFadeIn 0.5s;
    box-shadow: 0 2px 0 #333, 0 -2px 0 #333;
  }
}
@keyframes borderFadeIn {
  from { box-shadow: 0 2px 0 rgba(51,51,51,0.0), 0 -2px 0 rgba(51,51,51,0.0); }
  to   { box-shadow: 0 2px 0 rgba(51,51,51,1.0), 0 -2px 0 rgba(51,51,51,1.0); }
}

/* This is so links to anchors visually maintain the margin at the top of cards.
 * I can't find the portion of the spec that indicates where a browser should
 * scroll to when navigating to an anchor. But it seems to be 1px above the
 * target --- and ignores margin and ::before content. I chose to abuse borders
 * because padding wouldn't work (background issues abound).
 */
.card:target {
  margin-top: 1px; /* avoid seeing a 1px band of the previous card */
  border-top: 0.9em solid #fafafa;
}
@media (min-width: 768px) {
  .card:target { border-top-width: 1.7em; }
}
